body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
.heading{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    line-height: 20px;
    padding-left: 15px;
    height: 100px;
    border-left: 5px solid #0bc2a9;
    margin-bottom: 30px;
}
.flexible{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}
.horizonta-align{
    margin: auto;
}
.wight-half{
    width: 50%;
    margin-left: 5%;
}
.wight-half img{
    width: 80%;
}
.color-blue{
    color: #024eaf;
}
.button{
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    background-color: #0bc2a9;
    padding: 10px 40px;
    border-radius: 5px;
}
.paragraph{
    opacity: 80%;
    line-height: 25px;
    margin-bottom: 30px;
    width: 80%;
}
.small{
    opacity: 80%;
    margin-top: 30px;
}

h2{
    font-size: 40px;
    font-weight: 700;
}
.middle-align{
    text-align: center;
}
.three-section{
    padding-top: 20px;
    padding-left: 25px;
    height: 310px;
    width: 30%;
    margin:  1%;
    border-radius: 25px;
}
.three-section img{
    width: 30%;
}
.margin-righ-left{
    margin: auto;
    width: 90%;
    margin-bottom: 100px;
}
#bali{
    background-color: #a3e4db85;
}
#nepal{
    background-color: #1c6dd03d;
}
#india{
    background-color: #fed1efc2;
}
